<template>
  <section class="layout">
    <Header></Header>

    <div class="xl:flex mb-4 mx-6 max-w-2xl xl:max-w-6xl mx-auto">
      <Printer class="w-full xl:w-1/2 bg-white mx-0 xl:mr-6 xl:mx-auto rounded-lg p-8 mb-8 xl:mb-0"></Printer>
      <Job class="w-full xl:w-1/2 bg-gray-200 xl:mx-auto rounded-lg"></Job>
    </div>

    <Content />

    <Footer></Footer>
  </section>
</template>


<script>
export default {};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans:400,700&display=swap");

@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 30px 0;
  padding: 0;
  background: #0a001a url("asteroids.jpg");
}

.input-text {
  @apply appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight;
}
</style>