<template>
	<button
	    class="button"
	    type="button">
		{{ label }}
	</button>
</template>


<script>
export default {
  props: ['label']
}
</script>

<style>
.button {
	@apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}
.button:hover {
	@apply bg-blue-700;
}
.button:focus {
	@apply outline-none shadow-outline;
}
</style>
