<template>
    <nav class="navigation">
		<a href="#">Logs</a>
		<a href="#">Preview</a>
		<a href="#">Share</a>
    </nav>
</template>


<script>
export default {
  props: ['label']
}
</script>

<style>
.navigation a {
	@apply inline-block px-2;
}
.navigation a:hover {
	@apply text-white;
}
</style>