<template>
  <div>
    <div v-if="readOnly" class="input-text">{{ selectedValue }}</div>
    <input 
      v-if="!readOnly"
      class="input-text" 
      type="text" 
      v-model.lazy="selectedValue"
      @change="updateValue"
      placeholder="20">
  </div>
</template>


<script>
export default {
  props: [
    'elementName',
    'value',
    'readOnly'
  ],
  data() {
    return {
      selectedValue: this.value,
    }
  },
  methods: {
    updateValue(e) {
      this.$emit('update:value', this.selectedValue)
    },
  }
}
</script>

<style>
.select {
  @apply block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight;
}

.selecticon {
  @apply pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700;
}

.selecticon-svg {
  @apply fill-current h-4 w-4;
}
</style>