<template>
	<div class="job">
		<DetailNavigation class="navigation"></DetailNavigation>
		<Process :jobid="currentJob.id" :done="isDone"></Process>
		<img :src="currentJob.preview" class="mx-auto" />
		<pre class="logs">
{{ currentJob.log }}
    	</pre>
	</div>
</template>


<script>
import { mapState } from 'vuex'

export default {
	computed: {
		...mapState([
			'currentJob',
			'isDone'
		])
	},
	methods: {
	},
}
</script>

<style>
.navigation {
	@apply bg-gray-800 text-gray-500 rounded-t-lg uppercase px-4 py-3 text-sm;
}
.job {
	@apply bg-gray-700 text-gray-400;
}
.logs {
	font-family: 'IBM Plex Mono', monospace;
	@apply px-4 py-3 text-xs overflow-auto;
}
</style>
