<template>
  <label class="label" :for="elementName">{{ label }}</label>
</template>


<script>
export default {
  props: ['label', 'elementName'],
}
</script>


<style>
.label {
  @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2;
}
</style>