<template>
  <form>
    <Label label="Printer" elementName="printer"></Label>
    <Selectfield
      elementName="printer"
      :elements="defs.printers"
      :readOnly="isRunning"
      @update:selected="setPrinter"
      :selected="settings.printer" 
      class="selectfield">
    </Selectfield>

    <Label label="Filament" elementName="filament"></Label>
    <Selectfield
      elementName="filament"
      :elements="defs.filaments"
      :readOnly="isRunning"
      @update:selected="setFilament"
      :selected="settings.filament"
      class="selectfield">
    </Selectfield>

    <Label label="Model" elementName="model"></Label>
    <Upload 
      elementName="model" 
      label="Select a model"
      :readOnly="isRunning"
      @update:file="updateModel">
    </Upload>

    <div class="flex flex-wrap -mx-3 mt-6">
      <div class="w-full px-3 mb-6 md:w-1/3 md:mb-0">
        <Label label="infill %" elementName="infill"></Label>
        <Inputfield
          elementName="infill"
          :readOnly="isRunning"
          @update:value="setInfill"
          :value="settings.infill">
        </Inputfield>
      </div>
      <div class="w-full px-3 mb-6 md:w-1/3 md:mb-0">
        <Label label="bed adhesion" elementName="bedadhesion"></Label>
        <Selectfield
          elementName="bedadhesion"
          :elements="defs.bedadhesions"
          :readOnly="isRunning"
          @update:selected="setBedAdhesion"
          :selected="settings.bedAdhesion"
          class="selectfield">
  
        </Selectfield>
      </div>
      <div class="w-full px-3 mb-6 md:w-1/3 md:mb-0">
        <Label label="support" elementName="support"></Label>
        <Selectfield
          elementName="support"
          :elements="defs.supports"
          :readOnly="isRunning"
          @update:selected="setSupport"
          :selected="settings.support"
          class="selectfield">
  
        </Selectfield>
      </div>
    </div>

    <Button :label="buttonText" @click.native="startProcess"></Button>
  </form>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex'
import { sliceModel } from '../api.js'

export default {
  props: [],
  methods: {
    updateModel(model) {
      this.model = model;

      this.setModel(model)
      this.uploadPreview()
    },
    ...mapMutations([
      'setPrinter',
      'setFilament',
      'setModel',
      'setInfill',
      'setBedAdhesion',
      'setSupport',
    ]),
    ...mapActions([
      'uploadPreview',
      'startProcess'
    ]),
  },
  computed: {
    ...mapState([
      'settings',
      'defs',
      'isRunning',
    ]),
    buttonText() {
      return this.running?'Running...':'Generate'
    }
  }
}
</script>

<style>
.selectfield {
  @apply w-full mb-6;
}
</style>