<template>
    <div class="process" :class="{ success: done }">
      <div v-if="!done">
    	// process bar
      </div>
      <div v-if="done">
        // Done Link <a class="process-btn" :href="downloadUrl" :download="downloadFilename">Download</a>
      </div>
    </div>
</template>


<script>
export default {
  props: ['done', 'id'],
  computed: {
    downloadUrl() {
      return `/api/jobs/${this.id}/result`
    },
    downloadFilename() {
      return `${this.id}.gcode`
    }
  },
}
</script>

<style>
.process {
	@apply px-6 py-4 border-gray-800 border-b-4;
}
.process.success {
	@apply bg-green-500 text-white;
}
.process.failed {
	@apply bg-red-500 text-white;
}
.process-btn {
	@apply bg-blue-600 inline-block rounded-lg px-2 py-1;
}
.process-btn:hover {
	@apply bg-blue-700;
}
</style>