<template>
  <div>
    <div v-if="readOnly" class="input-text">{{ selectedValue }}</div>
    <div v-if="!readOnly" class="relative">
      <select 
        class="select" 
        :id="elementName" 
        v-model.lazy="selectedValue" 
        @change="updateValue">
        <option v-for="(item, key, index) in elements" :value="key" :key="key">{{ item }}</option> 
      </select> 
      <div class="selecticon">
        <svg class="selecticon-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path>
        </svg>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  props: [
    'elementName',
    'elements',
    'selected',
    'readOnly'
  ],
  data() {
    return {
      selectedValue: this.selected,
    }
  },
  methods: {
    updateValue(e) {
      this.$emit('update:selected', this.selectedValue)
    },
  }
}
</script>

<style>
.select {
  @apply block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight;
}

.selecticon {
  @apply pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700;
}

.selecticon-svg {
  @apply fill-current h-4 w-4;
}
</style>