<template>
  <div>
    <label class="uploadbutton" :class="{ success: isSuccess, readOnly: readOnly, active: !readOnly }">
      <svg class="w-6 h-6" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
      </svg>

      <span class="mt-2 text-base leading-normal">{{ label }}</span>
      <input 
        v-if="!readOnly"
        type='file' 
        class="hidden" 
        :id="elementName"
        @change="updateFile" />
    </label>
  </div>
</template>


<script>
export default {
  props: ['label', 'elementName', 'readOnly'],
  data() {
    return {
      isSuccess: false,
    }
  },
  methods: {
    updateFile(e) {
      this.isSuccess = true
      this.$emit('update:file', e.target.files[0])
    }
  },
}
</script>

<style>
.uploadbutton {
  @apply bg-blue-500 text-white font-bold py-3 block px-4 rounded uppercase;
}
.uploadbutton svg {
  @apply inline mr-3;
}
.uploadbutton.success {
  @apply bg-green-500;
}
.uploadbutton.readOnly {
  @apply appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight;
}
.uploadbutton.active:hover {
  @apply bg-blue-700 cursor-pointer;
}
.uploadbutton.active:focus {
  @apply outline-none shadow-outline;
}
</style>